<!DOCTYPE html>
<html>
<head>
    <title>Event and Reminder Input</title>
    <style>
        .form-group {
            display: block; /* starts on a new line */
            margin-bottom: 10px;
        }

        .form-group label {
            display: block;
        }

        .form-group input[type="text"], /* Text inputs, text areas, and drop down menus */
        .form-group textarea,
        .form-group select {
            width: 100%;
            box-sizing: border-box;
        }

        .form-row {
            display: flex;
            align-items: center;
        }

        .form-row label { /* equal spacing between labels and checkboxes */
            flex: 1;
        }

        .form-row input[type="checkbox"] {
            flex: 1;
        }

        .reminder { /* gray accented border separating each reminder from each other */
            border-top: 1px solid #ccc;
            padding-top: 10px;
            margin-top: 10px;
        }
        .top-nav { /* Nav bar */
            text-align: center;
            margin-bottom: 20px;
        }

        .top-nav a { /* Nav bar links or associations */
            margin: 0 10px;
            text-decoration: none;
            color: #007bff;
        }

        .top-nav hr { /* Adds some space above the bar between the text and the divider */
            margin-top: 10px;
        }
        
        .indented-dropdown {
            margin-left: 20px; /* Adjust the value as needed */
        }

        .reminder-am {
            background-color: yellow;
        }

        .reminder-pm {
            background-color: darkblue;
            color: white;
        }
        
    </style>
    <script>
        var reminderCount = 0;

        function addReminder() {
            var reminderContainer = document.getElementById("reminder-container");
            var reminderDiv = document.createElement("div");
            reminderDiv.classList.add("reminder");

            // Time input
            var timeInput = document.createElement("input");
            timeInput.type = "time";
            timeInput.name = "reminder_time[]";
            timeInput.required = true;
            timeInput.addEventListener('change', function() {
                if (this.value) {
                    var hour = parseInt(this.value.substring(0, 2));
                    if (hour < 12) {
                        reminderDiv.classList.add("reminder-am");
                        reminderDiv.classList.remove("reminder-pm");
                    } else {
                        reminderDiv.classList.add("reminder-pm");
                        reminderDiv.classList.remove("reminder-am");
                    }
                } else {
                    reminderDiv.classList.remove("reminder-am", "reminder-pm");
                }
            });
            var timeLabel = document.createElement("label");
            timeLabel.textContent = "Time:";
            reminderDiv.appendChild(timeLabel);
            reminderDiv.appendChild(timeInput);

            // Date input
            var dateInput = document.createElement("input");
            dateInput.type = "date";
            dateInput.name = "reminder_date[]";
            dateInput.required = true;
            var dateLabel = document.createElement("label");
            dateLabel.textContent = "Date:";
            reminderDiv.appendChild(dateLabel);
            reminderDiv.appendChild(dateInput);

            // Repeat select
            var repeatSelect = document.createElement("select");
            repeatSelect.name = "reminder_repeats[" + reminderCount + "]";
            var repeatOptions = ["Never", "Hourly", "Daily", "Weekly", "Monthly", "Yearly"];
            repeatOptions.forEach(function(repeatOption) {
                var option = document.createElement("option");
                option.value = repeatOption;
                option.textContent = repeatOption;
                repeatSelect.appendChild(option);
            });
            var repeatLabel = document.createElement("label");
            repeatLabel.textContent = "Repeats:";
            reminderDiv.appendChild(repeatLabel);
            reminderDiv.appendChild(repeatSelect);

            // Options checkboxes
            var options = ["Buzzer", "Vibration", "Web_Unlock", "Alarm"];
            options.forEach(function(option) {
                var optionInput = document.createElement("input");
                optionInput.type = "checkbox";
                optionInput.name = "reminder_options[" + reminderCount + "][" + option + "]";
                optionInput.value = option;
                var optionLabel = document.createElement("label");
                optionLabel.textContent = option;
                var rowDiv = document.createElement("div");
                rowDiv.classList.add("form-row");
                rowDiv.appendChild(optionLabel);
                rowDiv.appendChild(optionInput);
                reminderDiv.appendChild(rowDiv);

                // Buzzer volume dropdown
                if (option === "Buzzer") {
                    var buzzerSelect = document.createElement("select");
                    buzzerSelect.name = "reminder_buzzer[" + reminderCount + "]";
                    buzzerSelect.style.display = "none";
                    var volumes = ["Quiet", "Moderate", "Loud", "Ascending"];
                    volumes.forEach(function(volume) {
                        var buzzerElement = document.createElement("option");
                        buzzerElement.value = volume;
                        buzzerElement.textContent = volume;
                        buzzerSelect.appendChild(buzzerElement);
                    });
                    var buzzerLabel = document.createElement("label");
                    buzzerLabel.textContent = "Select Buzzer Volume:";
                    buzzerLabel.style.display = "none";
                    buzzerLabel.classList.add("indented-dropdown");
                    buzzerSelect.classList.add("indented-dropdown");
                    reminderDiv.appendChild(buzzerLabel);
                    reminderDiv.appendChild(buzzerSelect);

                    optionInput.addEventListener("change", function() {
                        if (this.checked && this.value === "Buzzer") {
                            buzzerSelect.style.display = "block";
                            buzzerLabel.style.display = "block";
                        } else {
                            buzzerSelect.style.display = "none";
                            buzzerLabel.style.display = "none";
                        }
                    });
                }

                // Alarm urgency dropdown
                if (option === "Alarm") {
                    var alarmSelect = document.createElement("select");
                    alarmSelect.name = "reminder_alarm[" + reminderCount + "]";
                    alarmSelect.style.display = "none";
                    var alarms = ["Not at all", "Somewhat", "Urgent", "Very", "Extremely"];
                    alarms.forEach(function(alarm) {
                        var alarmElement = document.createElement("option");
                        alarmElement.value = alarm;
                        alarmElement.textContent = alarm;
                        alarmSelect.appendChild(alarmElement);
                    });
                    var alarmLabel = document.createElement("label");
                    alarmLabel.textContent = "Select Alarm Urgency:";
                    alarmLabel.style.display = "none";
                    alarmLabel.classList.add("indented-dropdown");
                    alarmSelect.classList.add("indented-dropdown");
                    reminderDiv.appendChild(alarmLabel);
                    reminderDiv.appendChild(alarmSelect);

                    optionInput.addEventListener("change", function() {
                        if (this.checked && this.value === "Alarm") {
                            alarmSelect.style.display = "block";
                            alarmLabel.style.display = "block";
                        } else {
                            alarmSelect.style.display = "none";
                            alarmLabel.style.display = "none";
                        }
                    });
                }
            });

            reminderContainer.appendChild(reminderDiv);
            if (reminderContainer.children.length > 1) {
                addRemoveButton(reminderDiv);
            }
            reminderCount++;
        }

        function addRemoveButton(reminderDiv) {
            var removeButton = document.createElement("button");
            removeButton.type = "button";
            removeButton.textContent = "Remove Reminder";
            removeButton.onclick = function() {
                reminderDiv.remove();
            };
            reminderDiv.appendChild(removeButton);
        }

        function init() {
            addReminder();
        }

        window.onload = init;
    </script>

</head>
<body>
    <div class="top-nav">
        <a href="/events">All Events</a>
        <hr>
    </div>
    <h1>PiTime Alarm Form</h1>
    <form action="/submit" method="post" enctype="multipart/form-data">
        <!-- Location of entry fields submitted in POST -->
        <!-- Event title limited to 120 characters-->
        <div class="form-group">
            <label for="main_event_title">Event Title:</label>
            <input type="text" id="main_event_title" name="main_event_title" maxlength = 120 required>
        </div>
        <!-- Event description limited to 500 characters -->
        <div class="form-group">
            <label for="main_event_description">Description:</label>
            <textarea id="main_event_description" name="main_event_description" rows="4" cols="50" maxlength = 500 required></textarea>
        </div>
        <!-- Image upload, requires it to be an image -->
        <div class="form-group">
            <label for="event_image">Event Image:</label>
            <input type="file" id="event_image" name="event_image" accept="image/*">
        </div>

        <!-- Contains all reminder forms -->
        <div id="reminder-container"></div>

        <!-- Adds a new reminder field and declares a new Reminder ID -->
        <button type="button" onclick="addReminder()">Add Reminder</button>

        <!-- Submits all event details and saved reminders -->
        <input type="submit" value="Submit">
        <div class="form-errors">
            <!-- In the context of there being flashed messages stored after submission -->
            {% with messages = get_flashed_messages() %}
                <!-- If there are any messages provided -->
                {% if messages %}
                    <ul>
                        <!-- For all of the messages returned -->
                        {% for message in messages %}
                            <!-- Print it as entries in a list -->
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>    
    </form>
</body>
